In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('/Wholesale_customers_data.csv')

In [ ]:
data.head()

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776
2        2       3   6353  8808     7684    2405              3516        7844
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185

In [ ]:
cols = list(data.columns)

In [ ]:
data = data[cols]
data

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,2,3,12669,9656,7561,214,2674,1338
1,2,3,7057,9810,9568,1762,3293,1776
2,2,3,6353,8808,7684,2405,3516,7844
3,1,3,13265,1196,4221,6404,507,1788
4,2,3,22615,5410,7198,3915,1777,5185
...,...,...,...,...,...,...,...,...
435,1,3,29703,12051,16027,13135,182,2204
436,1,3,39228,1431,764,4510,93,2346
437,2,3,14531,15488,30243,437,14841,1867
438,1,3,10290,1981,2232,1038,168,2125
439,1,3,2787,1698,2510,65,477,52

In [ ]:
data.drop(['Region'], axis=1, inplace=True) #Nominal value
data.head()

   Channel  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2  12669  9656     7561     214              2674        1338
1        2   7057  9810     9568    1762              3293        1776
2        2   6353  8808     7684    2405              3516        7844
3        1  13265  1196     4221    6404               507        1788
4        2  22615  5410     7198    3915              1777        5185

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel           440 non-null    int64
 1   Fresh             440 non-null    int64
 2   Milk              440 non-null    int64
 3   Grocery           440 non-null    int64
 4   Frozen            440 non-null    int64
 5   Detergents_Paper  440 non-null    int64
 6   Delicassen        440 non-null    int64
dtypes: int64(7)
memory usage: 24.2 KB

In [ ]:
data.isnull().any()

Channel             False
Fresh               False
Milk                False
Grocery             False
Frozen              False
Detergents_Paper    False
Delicassen          False
dtype: bool

In [ ]:
data.isna().sum()

Channel             0
Fresh               0
Milk                0
Grocery             0
Frozen              0
Detergents_Paper    0
Delicassen          0
dtype: int64

In [ ]:
df_min_max_scaled = data.copy()

# apply normalization techniques by Column 1
column = ['Fresh', 'Milk', 'Grocery', 'Frozen', 'Detergents_Paper', 'Delicassen']
df_min_max_scaled[column] = (df_min_max_scaled[column] - df_min_max_scaled[column].min()) / (df_min_max_scaled[column].max() - df_min_max_scaled[column].min())

# view normalized data
display(df_min_max_scaled)

,Channel,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,2,0.112940,0.130727,0.081464,0.003106,0.065427,0.027847
1,2,0.062899,0.132824,0.103097,0.028548,0.080590,0.036984
2,2,0.056622,0.119181,0.082790,0.039116,0.086052,0.163559
3,1,0.118254,0.015536,0.045464,0.104842,0.012346,0.037234
4,2,0.201626,0.072914,0.077552,0.063934,0.043455,0.108093
...,...,...,...,...,...,...,...
435,1,0.264829,0.163338,0.172715,0.215469,0.004385,0.045912
436,1,0.349761,0.018736,0.008202,0.073713,0.002205,0.048874
437,2,0.129543,0.210136,0.325943,0.006771,0.363463,0.038882
438,1,0.091727,0.026224,0.024025,0.016649,0.004042,0.044264
439,1,0.024824,0.022371,0.027022,0.000657,0.011611,0.001022

In [ ]:
df_min_max_scaled.to_csv('/Wholesale_customers_data_cleaned.csv', index=False, header=False, sep=' ')